@font-face {
    font-family: "nmr";
    src: url("assets/NeueMontrealFont/NeueMontreal-Regular.otf");
}

@font-face {
    font-family: "nml";
    src: url("assets/NeueMontrealFont/NeueMontreal-Light.otf");
}

@font-face {
    font-family: "nmm";
    src: url("assets/NeueMontrealFont/NeueMontreal-Medium.otf");
}

@font-face {
    font-family: "nmb";
    src: url("assets/NeueMontrealFont/NeueMontreal-Bold.otf");
}

@font-face {
    font-family: "nmbi";
    src: url("assets/NeueMontrealFont/NeueMontreal-BoldItalic.otf");
}

@font-face {
    font-family: "nmri";
    src: url("assets/NeueMontrealFont/NeueMontreal-Italic.otf");
}

@font-face {
    font-family: "nmmi";
    src: url("assets/NeueMontrealFont/NeueMontreal-MediumItalic.otf");
}

@font-face {
    font-family: "nmli";
    src: url("assets/NeueMontrealFont/NeueMontreal-LightItalic.otf");
}

@font-face {
    font-family: "mrsd";
    src: url("assets/MersadFont/Mersad.ttf");
}

@font-face {
    font-family: "lato";
    src: url("assets/LatoFont/Lato-Black.ttf");
}

@media only screen and (min-width: 768px) {
    body{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0% auto;
        background-color: black;
        overflow: hidden !important;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -o-user-select: none;
        user-select: none;
    }

    #welcome{
        position: absolute;
        top: 0dvh;
        left: 0dvw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100dvh;
        width: 100dvw;
        background-color: #000000;
        opacity: 1;
        cursor: pointer;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -o-user-select: none;
        user-select: none;
    }

    #wtext{
        color: white;
        font-family: nml;
        font-size: 3dvh;
        cursor: pointer;
    }

    #main{
        height: 100dvh;
        width: 100dvw;
        background-color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden !important;
    }

    #bg{
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden !important;
        height: 100dvh !important;
        width: 100dvw !important;
        
    }

    #vidbg{
        height: 225dvh !important;
        width: auto;
    }

    video::-webkit-media-controls, video::-moz-media-controls, video::-o-media-controls, video::-ms-media-controls {
        display: none !important;
    }

    #noisefilter{
        height: 100dvh !important;
        width: 100dvw !important;
        opacity: 0.7;
        object-fit: cover;
        filter: contrast(90%);
        position: absolute;
        top: 0dvh;
    }

    #noisefilter1{
        display: none;
    }

    #shootingstar{
        position:absolute;
        top: 10dvh;
        left: -5dvw;
        background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.526));
        height: 1px;
        width: 0dvw;
        display: flex;
        justify-content:end;
        align-items: center;
        transform-origin: 0% 0%;
        rotate: 45deg;
        opacity: 0;
    }

    #star{
        font-size: 13px;
        color: white;
    }

    #c1{
        overflow: hidden !important;
        position: absolute;
        top: 0dvh;
        left: 0dvw;
        height: 100dvh;
        width: 100dvw;
        background-color: rgba(30, 30, 30, 0);
        margin: 0% auto;
    }

    #c1top{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 2dvw;
    }

    #name{
        font-family: nml;
        font-weight: 100;
        font-size: 3.5dvh;
        color: white;
        margin-top: 4dvh;
    }

    #jobtitle{
        font-family: nmr;
        font-weight: 500;
        font-size: 1.8dvh;
        color: white;
        margin-top: -1dvh;

    }

    #nav{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-left: 2dvw;
        margin-top: 4dvh;
    }

    ul{
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    .fli{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        margin-left: 0dvw;
    }

    .blp{
        font-size: 3.5dvh;
        color: white;
        margin-left: 2dvw;
        margin-top: -1dvh;
        margin-bottom: -1dvh;
    }

    #home{
        font-size: 2dvh;
        color: white;
        font-family: nmmi;
        cursor: pointer;

    }

    #bl1{
        opacity: 1;
    }

    #projects{
        font-size: 2dvh;
        color: white;
        font-family: nmmi;
        cursor: pointer;

    }

    #bl2{
        opacity: 0;
    }

    #philosophy{
        font-size: 2dvh;
        color: white;
        font-family: nmmi;
        cursor: pointer;
    }

    #bl3{
        opacity: 0;
    }

    #contact{
        font-size: 2dvh;
        color: white;
        font-family: nmmi;
        cursor: pointer;

    }

    #bl4{
        opacity: 0;
    }

    #themetype{
        font-family: nmmi;
        font-size: 2dvh;
        color: white;
        cursor: pointer;
        text-shadow: 0dvw 2dvw 6dvw #000000;

    }

    #themebar{
        font-family: nmm;
        font-size: 2dvh;
        color: white;
        margin-left: 4dvw;
    }

    #intro{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
    }

    #intropara{
        font-family: nmb;
        font-size: 2.25dvh;
        position: absolute;
        color: white;
        bottom: -0.5dvh;
        margin-bottom: 4dvh;
        margin-right: 5dvw;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: flex-start;
        visibility: visible;
        opacity: 1;
    }

    a{
        color: white;
    }

    #projectsdiv{
        display: flex;
        visibility: hidden; 
        opacity: 0;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: 1.25dvh;
        width: 40dvw;
        margin-right: 4dvw;
    }

    #larrow{
        rotate: 270deg;
        width: 4dvw;
        margin-right: 1.5dvw;
        cursor: pointer;
    }

    #prohead{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: -2.5dvh;
    }

    #projecttitle{
        font-family: mrsd;
        font-size: 3.25dvh;
        font-weight: 580;
        color: white;
    }

    #proimg{
        margin-bottom: 0.85dvh;
        width: 4dvw;
        height: auto;
        filter:invert(100%);
        margin-left: 1dvw;
    }

    #projectmain{
        text-align: justify;
    }

    #rarrow{
        rotate: 90deg;
        width: 4dvw;
        margin-left: 1.5dvw;
        cursor: pointer;
    }

    #projectdisc{
        font-family: nmr;
        font-size: 2.1dvh;
        color: white;
    }

    #philosophydiv{
        visibility: hidden; 
        opacity: 0;
        position: absolute;
        bottom: 0dvh;
        margin-bottom: 1dvh;
        margin-right: 4.25dvw;
    }


    #philosophypara{
        font-family: nmb;
        font-size: 2.25dvh;
        color: white;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: flex-start;

    }

    #contactinfodiv{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        visibility: hidden;
        opacity: 0;
        position: absolute;
        bottom: 0dvh;
        margin-bottom: 4dvh;
        margin-right: 12dvw;
    }

    #contactinfo1{
        font-family: nmr;
        font-size: 2.25dvh;
        color: white;
        text-decoration: underline;
        cursor: pointer;
    }

    #contactinfo2{
        font-family: nmr;
        font-size: 2.25dvh;
        color: white;
        cursor: pointer;
    }

    #cprojectsdiv{
    visibility: hidden; 
    opacity: 0;
    }

}

@media only screen and (min-width: 551px) and (max-width: 767px) {
    body{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0% auto;
        background-color: black;
        overflow: hidden !important;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -o-user-select: none;
        user-select: none;
    }

    #welcome{
        position: absolute;
        top: 0dvh;
        left: 0dvw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100dvh;
        width: 100dvw;
        background-color: #000000;
        opacity: 1;
        cursor: pointer;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -o-user-select: none;
        user-select: none;
    }

    #wtext{
        color: white;
        font-family: nml;
        font-size: 3dvh;
        cursor: pointer;
    }

    #main{
        height: 100dvh;
        width: 100dvw;
        background-color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden !important;
    }

    #bg{
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden !important;
        height: 100dvh !important;
        width: 100dvw !important;
    }

    #vidbg{
        height: 140dvh !important;
        width: auto;
    }

    video::-webkit-media-controls, video::-moz-media-controls, video::-o-media-controls, video::-ms-media-controls {
        display: none !important;
    }

    #noisefilter1{
        height: 100dvh !important;
        width: 100dvw !important;
        opacity: 0.6;
        object-fit: cover;
        filter: contrast(90%);
        position: absolute;
        top: 0dvh;
    }

    #noisefilter{
        display: none;
    }

    #shootingstar{
        position:absolute;
        top: 10dvh;
        left: -5dvw;
        background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.526));
        height: 1px;
        width: 0dvw;
        display: flex;
        justify-content:end;
        align-items: center;
        transform-origin: 0% 0%;
        rotate: 45deg;
        opacity: 0;
    }

    #star{
        font-size: 13px;
        color: white;
    }

    #c1{
        overflow: hidden !important;
        position: absolute;
        top: 0dvh;
        left: 0dvw;
        height: 100dvh;
        width: 100dvw;
        background-color: rgba(30, 30, 30, 0);
        margin: 0% auto;
    }

    #c1top{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 2dvw;
    }

    #name{
        font-family: nml;
        font-weight: 100;
        font-size: 3.5dvh;
        color: white;
        margin-top: 4dvh;

    }

    #jobtitle{
        font-family: nmr;
        font-weight: 500;
        font-size: 1.8dvh;
        color: white;
        margin-top: -1dvh;

    }

    #nav{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-left: 2dvw;
        margin-top: 4dvh;
    }

    ul{
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    .fli{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        margin-left: 0dvw;
    }

    .blp{
        font-size: 3.5dvh;
        color: white;
        margin-left: 4dvw;
        margin-top: -1dvh;
        margin-bottom: -1dvh;
    }

    #home{
        font-size: 2dvh;
        color: white;
        font-family: nmmi;
        cursor: pointer;

    }

    #bl1{
        opacity: 1;
    }

    #projects{
        font-size: 2dvh;
        color: white;
        font-family: nmmi;
        cursor: pointer;

    }

    #bl2{
        opacity: 0;
    }

    #philosophy{
        font-size: 2dvh;
        color: white;
        font-family: nmmi;
        cursor: pointer;
    }

    #bl3{
        opacity: 0;
    }

    #contact{
        font-size: 2dvh;
        color: white;
        font-family: nmmi;
        cursor: pointer;

    }

    #bl4{
        opacity: 0;
    }

    #themetype{
        font-family: nmmi;
        font-size: 2dvh;
        color: white;
        cursor: pointer;
        text-shadow: 0dvw 2dvw 6dvw #000000;

    }

    #themebar{
        font-family: nmm;
        font-size: 2dvh;
        color: white;
        margin-left: 4dvw;
    }

    #intro{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
    }

    #intropara{
        font-family: nmb;
        font-size: 2.25dvh;
        position: absolute;
        color: white;
        bottom: -0.5dvh;
        margin-bottom: 4dvh;
        margin-right: 5dvw;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: flex-start;
        visibility: visible;
        opacity: 1;
    }

    a{
        color: white;
    }

    #projectsdiv{
        display: flex;
        visibility: hidden; 
        opacity: 0;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: 1.25dvh;
        width: 100dvw;
    }

    #larrow{
        rotate: 270deg;
        width: 8dvw;
        margin-right: 1.5dvw;
        cursor: pointer;
    }

    #prohead{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: -2.5dvh;
    }

    #projecttitle{
        font-family: mrsd;
        font-size: 3.25dvh;
        font-weight: 580;
        color: white;
    }

    #proimg{
        margin-bottom: 0.85dvh;
        width: 10dvw;
        height: auto;
        filter:invert(100%);
        margin-left: 1dvw;
    }

    #projectmain{
        text-align: justify;
    }

    #rarrow{
        rotate: 90deg;
        width: 8dvw;
        margin-left: 1.5dvw;
        cursor: pointer;
    }

    #projectdisc{
        font-family: nmr;
        font-size: 2.1dvh;
        color: white;
    }

    #philosophydiv{
        visibility: hidden; 
        opacity: 0;
        position: absolute;
        bottom: 0dvh;
        margin-bottom: 1dvh;
        margin-right: 4.25dvw;
    }


    #philosophypara{
        font-family: nmb;
        font-size: 2.25dvh;
        color: white;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: flex-start;

    }

    #contactinfodiv{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        visibility: hidden;
        opacity: 0;
        position: absolute;
        bottom: 0dvh;
        margin-bottom: 4dvh;
        margin-right: 12dvw;
    }

    #contactinfo1{
        font-family: nmr;
        font-size: 2.25dvh;
        color: white;
        text-decoration: underline;
        cursor: pointer;
    }

    #contactinfo2{
        font-family: nmr;
        font-size: 2.25dvh;
        color: white;
        cursor: pointer;
    }
}


@media only screen and (max-width: 550px){
    
    body{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0% auto;
        background-color: black;
        overflow: hidden !important;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -o-user-select: none;
        user-select: none;
    }

    #welcome{
        position: absolute;
        top: 0dvh;
        left: 0dvw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100dvh;
        width: 100dvw;
        background-color: #000000;
        opacity: 1;
        cursor: pointer;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -o-user-select: none;
        user-select: none;
    }

    #wtext{
        color: white;
        font-family: nml;
        font-size: 3dvh;
        cursor: pointer;
    }

    #main{
        height: 100dvh;
        width: 100dvw;
        background-color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden !important;
    }

    #bg{
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden !important;
        height: 100dvh !important;
        width: 100dvw !important;
    }

    #vidbg{
        height: 125dvh !important;
        width: auto;

    }

    video::-webkit-media-controls, video::-moz-media-controls, video::-o-media-controls, video::-ms-media-controls {   display: none !important; }

    #noisefilter1{
        height: 100dvh !important;
        width: 100dvw !important;
        opacity: 1;
        filter: contrast(90%);
        position: absolute;
        top: 0dvh;
    }

    #noisefilter{
        display: none;
    }

    #shootingstar{
        position:absolute;
        top: 10dvh;
        left: -5dvw;
        background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.526));
        height: 1px;
        width: 0dvw;
        display: flex;
        justify-content:end;
        align-items: center;
        transform-origin: 0% 0%;
        rotate: 45deg;
        opacity: 0;
    }

    #star{
        font-size: 13px;
        color: white;
    }

    #c1{
        overflow: hidden !important;
        position: absolute;
        top: 0dvh;
        left: 0dvw;
        height: 100dvh;
        width: 100dvw;
        background-color: rgba(30, 30, 30, 0);
        margin: 0% auto;
    }

    #c1top{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 4dvw;
    }

    #name{
        font-family: nml;
        font-weight: 100;
        font-size: 3.5dvh;
        color: white;
        margin-top: 4dvh;

    }

    #jobtitle{
        font-family: nmr;
        font-weight: 500;
        font-size: 1.8dvh;
        color: white;
        margin-top: -1dvh;

    }

    #nav{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-left: 4dvw;
        margin-top: 4dvh;
    }

    ul{
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    .fli{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        margin-left: 0dvw;
    }

    .blp{
        font-size: 3.5dvh;
        color: white;
        margin-left: 4dvw;
        margin-top: -1dvh;
        margin-bottom: -1dvh;
    }

    #home{
        font-size: 2dvh;
        color: white;
        font-family: nmmi;
        cursor: pointer;

    }

    #bl1{
        opacity: 1;
    }

    #projects{
        font-size: 2dvh;
        color: white;
        font-family: nmmi;
        cursor: pointer;

    }

    #bl2{
        opacity: 0;
    }

    #philosophy{
        font-size: 2dvh;
        color: white;
        font-family: nmmi;
        cursor: pointer;
    }

    #bl3{
        opacity: 0;
    }

    #contact{
        font-size: 2dvh;
        color: white;
        font-family: nmmi;
        cursor: pointer;

    }

    #bl4{
        opacity: 0;
    }

    #themetype{
        font-family: nmmi;
        font-size: 2dvh;
        color: white;
        cursor: pointer;
        text-shadow: 0dvw 2dvw 6dvw #000000;

    }

    #themebar{
        font-family: nmm;
        font-size: 2dvh;
        color: white;
        margin-left: 4dvw;
    }

    #intro{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
    }

    #intropara{
        font-family: nmb;
        font-size: 2.25dvh;
        position: absolute;
        color: white;
        bottom: -0.5dvh;
        margin-bottom: 4dvh;
        margin-right: 5dvw;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: flex-start;
        visibility: visible;
        opacity: 1;
    }

    a{
        color: white;
    }

    #projectsdiv{
        display: flex;
        visibility: hidden; 
        opacity: 0;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: 1.25dvh;
        width: 100dvw;
    }

    #larrow{
        rotate: 270deg;
        width: 12dvw;
        margin-right: 1.5dvw;
        cursor: pointer;
    }

    #prohead{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: -2.5dvh;
    }

    #projecttitle{
        font-family: mrsd;
        font-size: 3.25dvh;
        font-weight: 580;
        color: white;
    }

    #proimg{
        margin-bottom: 0.85dvh;
        width: 16dvw;
        height: auto;
        filter:invert(100%);
        margin-left: 1dvw;
    }

    #projectmain{
        text-align: justify;
    }

    #rarrow{
        rotate: 90deg;
        width: 12dvw;
        margin-left: 1.5dvw;
        cursor: pointer;
    }

    #projectdisc{
        font-family: nmr;
        font-size: 2.1dvh;
        color: white;
    }

    #philosophydiv{
        visibility: hidden; 
        opacity: 0;
        position: absolute;
        bottom: 0dvh;
        margin-bottom: 1dvh;
        margin-right: 4.25dvw;
    }


    #philosophypara{
        font-family: nmb;
        font-size: 2.25dvh;
        color: white;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: flex-start;

    }

    #contactinfodiv{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        visibility: hidden;
        opacity: 0;
        position: absolute;
        bottom: 0dvh;
        margin-bottom: 4dvh;
        margin-right: 12dvw;
    }

    #contactinfo1{
        font-family: nmr;
        font-size: 2.25dvh;
        color: white;
        text-decoration: underline;
        cursor: pointer;
    }

    #contactinfo2{
        font-family: nmr;
        font-size: 2.25dvh;
        color: white;
        cursor: pointer;
    }

    #cprojectsdiv{
        visibility: hidden; 
        opacity: 0;
    }

}
